<!DOCTYPE html>
<head>
    <!--フォントの読み込み-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>CRUD System</title>
    <nav class="nav-back">
        <ul class="nav">
            <li><a href="/"><b>とりぴき日誌</b></a></li>
            <li><a href="/showlist">記事一覧</a></li>
            <li><a href="/show_categorylist">カテゴリ一覧</a></li>
        </ul>
    </nav>
</head>
<body>
    <div class="body-wrap">
        <div>
            <h1>
                {% block title %}
                {% endblock %}
            </h1>
        </div>
        <div>
            {% block content %}
            {% endblock %}
            <a href=""></a>
            <a href="/"></a>
        </div>
    </div>
    <footer>
        <p>©とりぴき日誌</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
    </script>
</body>