{% extends 'admin/base.html'%}

{% block title %}
    記事作成
{% endblock %}

{% block content %}
    <form action="/admin/create" method="post">
        タイトル : <input name="title" type="text" placeholder="タイトル"/><br>
        カテゴリ : <select name="category" size="1">
            {% for category in categories %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
        <br>
        本文 : <br>
        <textarea name="content" rows="40" cols="100" wrap="hard" placeholder="本文"></textarea>
        <input value="保存" type="submit" />
    </form>
{% endblock %}