/*ナビゲーションバー*/
.nav {
    list-style: none;   /*リストの点消す*/
    font-size: 0;       /*インラインブロックによる横並びでの隙間防止*/
    width: 960px;
    margin: 0 auto;
    text-align: left;
}
.nav-back {             /* バブバーの背景を端まで */
    /*background-color: #ff9e4a;*/
    width: 100%;
}
.nav li {
    padding: 9px;
    width: 160px;
    text-align: center;
    display: inline-block;
    font-size: 24px;    /*インラインブロックによる横並びでの隙間防止*/
}
.nav li a {
    color: #2c2d48;
    display: block;
}

/* body */
body {
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #f6ece3;
    font-family: "Mplus 1p";
}
.body-wrap {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    background-color: #eddfd1;
    color: #2c2d48;
    border-width: 1px;
    border-style: solid;
    border-color: #d1bdaa;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
body a {
    text-decoration: none; /*リンクの下線消す*/
}
h1 {
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 8px #F38850;
}

/* image */
img {
    border-radius: 10px;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}
/*
オレンジ系#F38850
白系#e1eef6
グレー系#7C7877
水系#47b8e0
・ベース
・メイン
・アクセント
*/
/*
todo
・webフレームワーク特有のクラスをどうやって動的に付与するか
・
*/